body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.divider { 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    height: 4px; 

    flex-wrap: nowrap; 

} 

.divider-left,  

.divider-middle,  

.divider-right { 

    flex: 1; 

     height: 4px; 

} 

.divider-left { 

    background-color: #4BAF47; 
   background-size: cover;   
} 

.divider-middle { 

    background-color: #C5CE38; 

    height: 4px; 

} 

.divider-right { 

    background-color: #EEC044; 

    height: 4px; 
   background-size: cover;   
} 

.site-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
}

.logo img {
  height: 60px;
}

.social-contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.contact-info {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;

}

.dividerar {
  width: 1px;
  height: 60px;
  background-color: #ccc; 
}

.alo {
width:30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
margin-bottom: 10px;

}

.nav-bar {
    height: 79px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    list-style: none;
    padding: 0 2rem;
    margin: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    background-image: url('assets/navSectionBackImg.svg');
    background-size: cover;
    background-position: center;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0 2rem;
  margin: 0;
  background: white;
  border-top: 1px solid #eee;
}

nav ul li {
  padding: 1rem;
  cursor: pointer;
  transition: transform 1s;
}
nav ul li:hover {
  transform: scale(1.5);
}

nav ul li.active {
  color: green;
  font-weight: bold;
}

.hero {
  position: relative;
  top: -20px;
  z-index: 1;
  height: 500px;
  background-image: url('assets/mainBackground.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.hero .overlay {
  position: absolute;
  top: 25px;
  left: 10%;
}

.leaf {
  position: absolute;
  left: 480px;
  top: 140px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
 filter: brightness(1);
}

.leaf:hover {
  animation: leafFloat 1s infinite;
filter: sepia(1) hue-rotate(20deg) saturate(3);
}


.leaves{
position: absolute;
  left: 145px; 
  top: 365px; 
  font-size: 45px; 
}



.hero-title {
  font-size: 120px;
  font-family: 'Covered By Your Grace', cursive;
  margin: 0;
  cursor: pointer;
  transition: color 0.5s;
  line-height: 110px;
letter-spacing: 0%;
vertical-align: middle;
text-shadow: 0 4px 8px rgb(2, 2, 0)
}
.hero-description{
  color: #ffffff93;
}

.circle1{
  position: absolute;
  left:1040px; 
  top: 130px; 
  font-size: 10px; 
}

.circle2{
  position: absolute;
  left: 1040px; 
  top:210px; 
  font-size: 10px; 
}


.hero-title:hover{
  color: rgb(224, 225, 173);
}



.intro-text-first{
  cursor: pointer;
  transition: color 0.5s;
}
.intro-text-first:hover{
  color: rgba(220, 240, 68, 0.911);
}
.hero-description{
  cursor: pointer;
  transition: color 0.5s;
  text-shadow: 0 4px 8px rgba(2, 2, 0, 0.784);
}
.hero-description:hover{
  color: bisque;
}

.ampersand {
  color: rgb(255, 230, 0);  
}

.discover-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 5px;
}
.discover-btn:hover{
  transform: scale(1.2);
}

.blocs-fist {
 display: flex;
  justify-content: center;
position: relative;
  top: -50px; 
  transform: translateX(-50%);
  z-index: 2;
gap: 50px;
left: 50%;
}

.bloc {
  background: #fff;
  padding: 1.5rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.393);
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.bloc:hover{
  transform: scale(1.2);
}

.work {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.bloc h4 {
  font-size: 24px;
      margin-bottom: 10px;
  color: #EEC044;
  font-family: 'Covered By Your Grace', cursive;
}

.bloc p {
font-weight: bold;
}

.intro {
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
  gap: 2rem;
  flex-wrap: wrap; 
}

.intro-img img {
  width: 600px;
height: 641.1900024414062px;
}

.intro-text {
  max-width: 500px;
  width: 600;
height: 641.1900024414062;
top: 8.5px;
left: 605px;
opacity: 1;

}

.intro-text .highlight {
  color:  #EEC044;
  font-weight: bold;
  font-family: 'Covered By Your Grace', cursive;
  width: 141.99990844726562px;
height: 36px;
}

.intro-text .green {
  color: green;
  font-weight: bold;
}
.intro-text p {
  border: 2px;
  border-radius: 8px;
  color: #33333377;
}
.features {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
 
}

.feature-box {
  padding: 1.5rem;
  text-align: center;
}

.feature-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  top:-3px;
}

.feature-box h3 {
  font-size: 14px;
  color: #333;
}


.checklist {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-direction: column;
}
.checklist li {
  margin-bottom: 10px;
  font-size: 16px;
}


.discover-btn {
  background-color: #28a745;
  color: white;
  border: none;
  width: 196.30999755859375;
height: 60;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}


